#Minecraft server properties
motd=\u00a7a\u00a7lClean Minecraft\u00a7r\n\u00a7c\u00a7oAnarchy \u00a78\u00a7o-\u00a7e\u00a7o Vanilla \u00a78\u00a7o-\u00a72\u00a7o Survival
difficulty=normal
max-players=25
player-idle-timeout=15
function-permission-level=4
spawn-protection=0
server-port=25565
level-seed=
rcon.password=password
enable-rcon=true
